= form_for(@forum_topic) do |f|
  = render 'layouts/notice'
  = render 'layouts/errors', :object => @forum_topic
  %table
    %tr
      %td
        = f.label :name, 'topic name'
    %tr
      %td
        = f.text_field :name
    %tr
      %td
        = f.label :description, 'topic description'
    %tr
      %td
        =f.text_area :description
  = f.hidden_field :forum_category_id, { :value => @forum_topic.forum_category_id } 
  .buttle-medium
    = f.submit 'save'
  .buttle-medium
    = f.submit 'cancel'
