= form_for(@forum_topic) do |f|
  = render 'layouts/errors', :object => @forum_topic
  .bubble
    %p= f.label :name, 'Topic name.'
    = f.text_field :name
  %br
  .bubble
    %p= f.label :description, 'Topic description.'
    =f.text_area :description
  %br
  = f.hidden_field :forum_category_id, { :value => @forum_topic.forum_category_id } 
  .bubble
    = f.submit "save"
  .bubble
    = f.submit "cancel"
