-if current_controller = 'forum_categories'
  %tr
    %td{:width => '5%'}
      &nbsp;
    %td{:width => '60%'}
      %h3= link_to forum_topic.name, forum_posts_path(:forum_topic_id => forum_topic.id)
      &nbsp;-&nbsp;
      created by
      = link_to forum_topic.user.name, forum_topic.user
    - if developer || admin
      %td.align-right
        .buttle-small= link_to 'edit', edit_forum_topic_path(forum_topic)
        .buttle-small= link_to 'destroy', forum_topic, :confirm => 'Are you sure? This will delete all posts in this topic!', :method => :delete
    %td{:width => '5%'}
      &nbsp;
  %tr
    %td
      &nbsp;
    %td{:colspan => '2', :id => ["topic", forum_topic.id]}
      = render :partial => 'forum_topics/description', :object => forum_topic.description
    %td
      &nbsp;
-else
  %tr
    %td{:width => '70%'}
      %h3= link_to forum_topic.name, forum_posts_path(:forum_topic_id => forum_topic.id)
      &nbsp;-&nbsp;
      created by
      = link_to forum_topic.user.name, forum_topic.user
    - if developer || admin
      %td.align-right
        .buttle-small= link_to 'edit', edit_forum_topic_path(forum_topic)
        .buttle-small= link_to 'destroy', forum_topic, :confirm => 'Are you sure? This will delete all posts in this topic!', :method => :delete
  %tr
    %td{:colspan => '2', :id => ["topic", forum_topic.id]}
      = render :partial => 'forum_topics/description', :object => forum_topic.description
