= render 'buttons'
= paginate @forum_topics
= render 'layouts/notice'
%hr
- if @forum_topics.count > 0
  %table
    = render @forum_topics
- else
  %h2 
    No forum topics have been created
    %br
    or are visible for this category.
  %hr
= paginate @forum_topics
= render 'buttons'
