= form_for @leader do |f|
  -if @leader.errors.any?
    #error_explanation
      %h2= "#{pluralize(@leader.errors.count, "error")} prohibited this leader from being saved:"
      %ul
        - @leader.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
