.bubble-top-large
  %h1.color-2 log in
.content
  =# render 'layouts/errors', :object => @session
  = form_tag sessions_path do
    %table
      %tr
        %td= label_tag :email
      %tr
        %td= text_field_tag :email, params[:email], :size => 5
      %tr
        %td= label_tag :password
      %tr
        %td= password_field_tag :password
    .buttle-medium
      = submit_tag "log in"
