Markdown is allowed. Learn more about it 
=link_to 'here.', 'http://daringfireball.net/projects/markdown/basics', :target => '_blank'
%br
= form_for(@blog) do |f|
  = render 'layouts/errors', :object => @blog
  %table
    %tr
      %td= f.label :name, 'post title'
    %tr
      %td= f.text_field :name
    %tr
      %td= f.label :post, 'post text'
    %tr
      %td= f.text_area :post
  .buttle-medium
    = f.submit "save"
  .buttle-medium
    - if @blog.draft
      = f.submit "post"
    - else
      = f.submit "unpost"
  .buttle-medium
    = button_to "cancel", @blog, :method => :get
