= render 'common_buttons'
.buttle-medium
  - if @published
    = link_to 'show unpublished posts', unpublished_beta_test_blogs_path(current_beta_test)
  - else
    = link_to 'show published posts', beta_test_blogs_path(current_beta_test)
%hr

- if @blogs.count > 0
  =paginate @blogs
  %table
    = render @blogs
  =paginate @blogs
- else
  %h2.color-2 No blogs have been published for this betta test.
  %hr

= render 'common_buttons'
.buttle-medium
  - if @published
    = link_to 'show unpublished posts', unpublished_beta_test_blogs_path(current_beta_test)
  - else
    = link_to 'show published posts', beta_test_blogs_path(current_beta_test)
