= render 'buttons'
= paginate @blogs
= render 'layouts/notice'
%hr
- if @blogs.count > 0
  %table
    = render @blogs
- else
  %h2
    No blogs have been created
    %br
    or are visible for this betta test.
  %hr
= paginate @blogs
= render 'buttons'
