= render 'common_buttons'
.buttle-medium
  = link_to 'back to blogs', beta_test_blogs_path(current_beta_test)
%hr

%table
  = render @blog

= render 'common_buttons'
.buttle-medium
  = link_to 'back to blogs', beta_test_blogs_path(current_beta_test)
