%tr
  %td{:width => '70%'}
    %h3= link_to beta_test.name, beta_test
    &nbsp;-&nbsp;
    = beta_test.status
  %td.align-right
    -if beta_test.active && !tester
      .buttle-small= link_to 'join', new_user_tester_stat_sheet_path(current_user, :beta_test_id => beta_test)
    -if developer || admin
      .buttle-small= link_to 'edit', edit_beta_test_path(beta_test)
    - if current_action == 'index'
      .buttle-small= link_to 'check the blog', beta_test_blogs_path(beta_test)
-if tester || developer || admin
  %tr
    %td
      password -
      -if beta_test.password && beta_test.password.length > 0
        =beta_test.password
      -else
        none
    %td.align-right
      -if beta_test.link && beta_test.link.length > 0
        .buttle-small= link_to 'visit home', proper_url(beta_test.link), :target => '_blank'
%tr
  %td{:colspan => '2'}
    - if beta_test.description && beta_test.description.length != 0
      = beta_test.description
    - else
      No description for this test has been provided.
    - if current_action == 'index'
      %hr
