%tr
  %td{:colspan => '2'}= f.label :name, 'project name'
%tr
  %td{:colspan => '2'}= f.text_field :name
%tr
  %td{:colspan => '2'}= f.label :description, 'project description'
%tr
  %td{:colspan => '2'}= f.text_area :description
%tr
  %td{:colspan => '2'}= f.label :link, 'project link'
%tr
  %td{:colspan => '2'}= f.text_field :link
%tr
  %td{:colspan => '2'}= f.label :link, 'project password'
%tr
  %td{:colspan => '2'}= f.text_field :password
