=form_for(@beta_test) do |f|
  %table
    = render 'layouts/notice'
    = render 'layouts/errors', :object => @beta_test
    %h3
      = link_to 'Learn more about betta test options here.', about_path(:page => 'developer')
    %tr
      %td.align-center
        -if @beta_test.open
          This betta test is open to the general public.
        -else
          This betta test is closed to the general public.
      %td.align-center
        -if @beta_test.active
          This betta test is active, visible and open to testing.
        -else
          This betta test is inactive, invisible and closed to testing.
    %tr
      %td.align-center
        -if !@beta_test.open
          .buttle-medium= f.submit "make public", :public => true, :confirm => "Are you sure? This will turn your beta test into a helpdesk and can not be undone!"
      %td.align-center
        -if @beta_test.active
          .buttle-medium= f.submit "deactivate", :active => false
        -else
          .buttle-medium= f.submit "activate", :active => true
    = render 'form', :f => f
  = render 'buttons', :f => f
