= render 'buttons'
= render 'layouts/notice'
%hr
%h2 info
%table
  = render @beta_test
%hr
%h2= link_to "latest blogs", blogs_path
- if @blogs && @blogs.count > 0 
  %table
    = render @blogs
- else
  %h2
    No blogs have been created
    %br
    or are visible for this betta test.
    %hr
%h2= link_to "forum categories", forum_categories_path
-if @forum_categories && @forum_categories.count > 0
  %table
    = render @forum_categories
-else
  %h2
    No forum categories have been created
    %br
    or are visible for this betta test.
  %hr
%h2= link_to "leaders", tester_stat_sheets_path
-if @tester_stat_sheets && @tester_stat_sheets.count > 0
  %table
    = render @tester_stat_sheets
-else
  %h2
    Nobody has joined this betta test
    %br
    or leaders aren't visible.
  %hr
=render 'buttons'
