= form_for([current_beta_test, @forum_category]) do |f|
  = render 'layouts/errors', :object => @forum_category
  %table
    %tr
      %td= f.label :name, 'Category name.'
    %tr
      %td= f.text_field :name
    %tr
      %td= f.label :description, 'Category description.'
    %tr
      %td= f.text_area :description
  .buttle-medium
    = f.submit "save"
  .buttle-medium
    = f.submit "cancel"
