= render 'buttons'
= paginate @forum_categories
= render 'layouts/notice'
%hr
- if @forum_categories.count > 0
  %table
    =render @forum_categories
- else
  %h2
    No forum categories have been created
    %br
    or are visible for this betta test.
    %hr
= paginate @forum_categories
= render 'buttons'
