.center-bubble
  %h1.color-2
    preferences for 
    = @user.name
  = render 'layouts/errors', :object => @user
  = form_tag(@url_for_update, :method => :put) do
    .bubble
      %p= label_tag :betta_email_opt_in, 'Recieve occasional promotional emails from bettatest.com?'
      = check_box_tag :betta_email_opt_in
    %br
    .bubble
      %p= label_tag :password, 'old password (required to make changes)'
      = password_field_tag :password
    %br
    .bubble
      %p= label_tag :new_password, 'new password (leave blank to keep current password)'
      = password_field_tag :new_password
    %br
    .bubble
      %p= label_tag :password_confirmation, 'password confirmation'
      = password_field_tag :password_confirmation
    %br
    .bubble
      %p.button= submit_tag 'save changes', :confirm => 'Are you sure?'
