%h1.span-22.dark-blue.center.last sign up
.span-2 &nbsp;
%h3.span-18.dark-blue.center Everybody values their privacy and bettatest.com respects that. Bettatest.com never give away your information without your consent. That being said, your email will be shared with every developer you agree to test for.
.span-2.last &nbsp;
= form_for @user do |f|
  - if @user.errors.any?
    .span-22.error_messages.last
      %h2.dark-blue Form is invalid
      %ul
      - for message in @user.errors.full_messages
        %li= message
      %br/
  .span-11.border
    %p.right= f.label :name, 'Screen name that others will see.'
  .span-11.left.last
    = f.text_field :name
  .span-11.border
    %p.right= f.label :email, 'email'
  .span-11.left.last
    .left= f.text_field :email
  .span-11.border
    %p.right= f.label :email_confirmation, 'email confirmation'
  .span-11.left.last
    = f.text_field :email_confirmation
  .span-11.border
    %p.right= f.label :betta_email_opt_in, 'Recieve occasional promotional emails from bettatest.com?'
  .span-11.left.last
    = f.check_box :betta_email_opt_in
  .span-11.border
    %p.right= f.label :password, 'password'
  .span-11.left.last
    = f.password_field :password
  .span-11.border
    %p.right= f.label :password_confirmation, 'password confirmation'
  .span-11.left.last
    = f.password_field :password_confirmation
  .span-11.border
    %p.right= label_tag :agreed_to_tos, 'I agree to the Terms of Service.'
  .span-11.left.last
    = f.check_box :agreed_to_tos
  .span-22.last
    %p.button= f.submit
