=render 'layouts/left_nav'
.center-bubble
  %h1.color-2= @user.name + "'s profile"
  %h3.color-2
    member since
    = @user.created_at.to_date.to_formatted_s(:long_ordinal)
  - if @user.has_role? :developer
    .tab-container-16
      .tab-box-top
        %h3.color-2
          my betta tests
      .tab-box-bottom
        - @user.beta_tests.each do |test|
          = link_to test.name, controller => :test, :action => :show, :id => test.id
          = "#{test[:members].count} members"
  - else
    %hr
    %h3.color-2 no betta tests started
    = link_to 'start one', controller => :betta_test, :action => :new
    %br
    %br
  %hr
  - if @user.has_role? :tester
    %h3.color-2 betta tests I&#39;m a member of
    %table
      - @user.tester_stat_sheets.each do |membership|
        %tr
          %td
            = link_to membership[:test].name, membership
          %td
            status:
            = membership[:status]
  - else
    %h3.color-2 not subscribed to any betta tests
    = link_to 'find one', controller => :betta_test, :action => :new
    %br
    %br
  %hr
  - if @user == @current_user || @current_user.has_role?(:admin)
    = link_to 'preferences', edit_user_path(@user)
.right
