.bubble-top-large
  %h1= @user.name
  %h3
    member since:
    = @user.created_at.strftime("%D")
.content
  %table
    %tr
      %td{:width => '70%', :colspan => '2'}
    - if @user.has_role? :developer# && @user.my_beta_tests.count > 0
      %tr
        %td{:colspan => '2'}
          %h2 my betta tests:
          %hr
      =render @user.my_beta_tests
    - else
      %tr
        %td
          %h2 no betta tests started
        %td.align-right
          -if @user == current_user
            .buttle-small
              = link_to 'start one', new_beta_test_path
          -else
            &nbsp;
      %tr
        %td{:colspan => '2'}
          %hr
    - if @user.has_role? :tester# && @user.tester_stat_sheets.count > 0
      %tr
        %td{:colspan => '2'}
          %h2 betta tests I&#39;m a member of:
          %hr
      =render @user.beta_tests
    - else
      %tr
        %td
          %h2 not subscribed to any betta tests
        %td.align-right
          -if @user == current_user
            .buttle-small
              = link_to 'find one', beta_tests_path
          -else
            &nbsp;
      %tr
        %td{:colspan => '2'}
          %hr
  - if @user == @current_user || @current_user.has_role?(:admin)
    .buttle-medium
      = link_to 'preferences', edit_user_path(@user)
