%td.align-center
  = link_to tester_stat_sheet.user.name+':', tester_stat_sheet.user
%td.align-center
  rank:
  = tester_stat_sheet.rank + 1
%td.align-center
  position:
  = tester_stat_sheet.position
%td.align-center
  points:
  = tester_stat_sheet.points
%td.align-center
  level:
  = tester_stat_sheet.level_to_name
