- if forum_post.post && forum_post.post.length > 0
  = markdown(forum_post.post)
  - if (can?(:rate_up, forum_post) || can?(:rate_down, forum_post)) && forum_post.user != current_user
    %table.align-center
      %tr
        %td.align-center
          .buttle-small
            = link_to 'rate post up', rate_up_forum_post_path(forum_post)
        %td.align-center
          .buttle-small
            = link_to 'rate post down', rate_down_forum_post_path(forum_post)
      %tr
        %td.align-center
          = "(give #{current_beta_test.rate_up_give_pts} pts.), "
          = "(lose #{current_beta_test.rate_up_lose_pts} pts.)"
        %td.align-center
          = "(take #{current_beta_test.rate_down_take_pts} pts.), "
          = "(lose #{current_beta_test.rate_down_lose_pts} pts.)"
%hr
