%tr
  %td{:width => '60%'}
    %h3
      posted by
      = link_to forum_post.user.name, forum_post.user
    &nbsp;-&nbsp;
    = "(posted on: #{forum_post.created_at.strftime("%D")})"
  %td.align-right
    - if can? :update, forum_post
      .buttle-small
        = link_to 'edit', edit_forum_post_path(forum_post)
    - if can? :destroy, forum_post
      .buttle-small
        = link_to 'destroy', forum_post, :confirm => 'Are you sure?', :method => :delete
%tr
  %td{:colspan => '2', :id => ['post', forum_post.id]}
    = render :partial => 'forum_posts/description', :locals => { :forum_post => forum_post }
