= form_for(@forum_post) do |f|
  = render 'layouts/errors', :object => @forum_post
  %table
    %tr
      %td= f.label :post, 'What are you trying to say?'
    %tr
      %td= f.text_area :post
  =f.hidden_field :forum_topic_id, { :value => @forum_post.forum_topic_id } 
  .buttle-medium
    = f.submit 'save'
  .buttle-medium
    = f.submit 'cancel'
