= render 'buttons'
= paginate @forum_posts
= render 'layouts/notice'
%hr
- if @forum_posts.count > 0
  %table
    = render @forum_posts
- else
  %h2
    No posts have been created
    %br
    or are visible for this topic.
    %hr
= paginate @forum_posts
= render 'buttons'
