!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = csrf_meta_tag
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Bettatest
    = javascript_include_tag :defaults
    = stylesheet_link_tag "screen"
    = stylesheet_link_tag "print", :media => "print"
    / [if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]
    = stylesheet_link_tag "betta"
  %body.blueprint.static
    = render "layouts/betta_header"
    .content
      = yield
    = render "layouts/betta_footer"
    = render "layouts/stat_counter"
