!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
    = csrf_meta_tag
    = tag :meta, 'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    - title = 'bettatest.com'
    - description  = 'bettatest.com is a simple but powerful service that lets software companies and developers run closed, focused, community driven beta tests and open help desks. It also lets people who love new software try it before the public, get involved in shaping the final product and possibly get rewarded for doing so.'
    - if inside_beta_test
      - description = current_beta_test.description
      - title += " - the beta test for #{current_beta_test.name}"
    - if @title
      - title += " - #{@title}"
    %title #{title}
    = tag :meta, :name => 'description', :content => description
    = javascript_include_tag :defaults
    - if current_controller == 'subscriptions'
      = javascript_include_tag "https://js.stripe.com/v1/"
      - if current_action == 'new'
        = javascript_include_tag 'new_subscription'
      - else
        = javascript_include_tag 'edit_subscription'
    = javascript_include_tag 'application'
    = stylesheet_link_tag "screen"
    = stylesheet_link_tag "print", :media => "print"
    / [if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]
    = stylesheet_link_tag "betta"
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26802916-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  %body.blueprint.betta
    = render "layouts/betta_header"
    -if inside_beta_test
      .container
        =render 'layouts/left_nav'
        .center
          .bubble-top-large
            %h1= current_beta_test.name
            - if current_stat_sheet
              %br
              %h4
                %table
                  %tr
                    = render :partial => 'tester_stat_sheets/stat_line', :locals => { :tester_stat_sheet => current_stat_sheet }
          .content
            - if !current_beta_test.user.has_role? :subscriber
              = render 'layouts/google_ads_top'
              %br
            -if !(current_controller == 'beta_tests' && (current_action == 'index' || current_action == 'show'))
              %p.align-left
                = link_to current_beta_test.name, beta_test_path(current_beta_test)
                -if current_controller == 'blogs' && current_action != 'index'
                  >
                  = link_to "blogs", blogs_path
                -if current_controller == 'forum_categories'
                  -if current_action != 'index'
                    >
                    = link_to 'categories', forum_categories_path
                    -if @forum_category.name
                      >
                      = @forum_category.name
                  -else
                    >
                    categories
                -if current_controller == 'forum_topics'
                  -if current_action != 'index'
                    >
                    = link_to 'categories', forum_categories_path
                    >
                    = link_to @forum_topic.forum_category.name, forum_topics_path(:forum_category_id => @forum_topic.forum_category)
                    -if @forum_topic.name
                      >
                      = @forum_topic.name
                  -else
                    >
                    = link_to 'categories', forum_categories_path
                    >
                    = @forum_category.name
                    >
                    topics
                -if current_controller == 'forum_posts'
                  -if current_action != 'index'
                    >
                    = link_to 'categories', forum_categories_path
                    >
                    = link_to @forum_post.forum_topic.forum_category.name, forum_topics_path(:forum_category_id => @forum_post.forum_topic.forum_category)
                    >
                    = link_to @forum_post.forum_topic.name, @forum_post.forum_topic
                  -else
                    >
                    = link_to 'categories', forum_categories_path
                    >
                    = link_to @forum_topic.forum_category.name, forum_topics_path(:forum_category_id => @forum_topic.forum_category)
                    >
                    = @forum_topic.name
                    >
                    posts
            = yield
            - if !current_beta_test.user.has_role? :subscriber
              %br
              %br
              = render 'layouts/google_ads_bottom'
        = render 'layouts/right_default'
    - else
      .container
        =render "layouts/left_nav"
        .center
          = yield
        = render 'layouts/right_default'
    = render "layouts/betta_footer"
    = render "layouts/stat_counter"
    =# debug current_user
    =# debug current_beta_test
    =# debug current_controller
    =# session.inspect
    =# Blog.all.inspect
